@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


footer{
	background-color: #fe5b46;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
}

.rev-container{
	background-color: #6cc8a3;
}
.review-title{
	font-family: 'Varela Round', sans-serif;
	color: white;
	font-size: 36px;
}