@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


.content-container{
	padding-top: 40px;
	margin-top: 40px;

}

footer{
	background-color: #fe5b46;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
}

.rev-container{
	background-color: #6cc8a3;
}
