@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


	html{
	scroll-behavior: smooth;
	}
	
footer{
	background-color: #fe5b46;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
	margin-top: 30px;
}

.rev-container{
	background-color: #6cc8a3;
	padding: 20px;
}

.form-review{
	font-family: 'Varela Round', sans-serif;
	color: white;
	font-size: 20px;
}


	
	body {
		font-family: 'Varela Round', sans-serif;
		line-height: 1.8;
		color: #f5f6f7;
	}

	h3{
		line-height:2.8;
	}
	
	.jumbotron{
		height: 100vh;
		background-color:#ffafaf;
		background-size: cover;
		color: black;
	}
	
	p {font-size: 16px;}
	
	.margin {margin-bottom: 25px;}
	
	.bg-1 { 
		background-color: #ffffff;
	}
	
	.bg-2 { 
		background-color: #6cc8a3; 
		color: #000000;
	}
	
	.bg-3 { 
		background-color: #60bbd6 ; 
		color: #000000;
		text-align : right;
	}
	
	.container-fluid {
		padding-top: 30px;
		padding-bottom: 70px;
	}
	
	.item {
        text-align: center;
        height: 300px;
    }
    h2 {
        margin: 0;
        color: #000000;
        padding-top: 80px;
        font-size: 30px;
    }
	
	#about {
		color : #000000;
	}
	
	.c{
		position: relative;
	}
	.item-1, 
	.item-2, 
	.item-3 {
		position: absolute;
		display: block;
		
	  
		width: 60%;
	  
		font-size: 1em;

		animation-duration: 20s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}

	.item-1{
		animation-name: anim-1;
	}

	.item-2{
		animation-name: anim-2;
	}

	.item-3{
		animation-name: anim-3;
	}

	@keyframes anim-1 {
		0%, 8.3% { left: -100%; opacity: 0; }
		8.3%,25% { left: 25%; opacity: 1; }
		33.33%, 100% { left: 110%; opacity: 0; }
	}

	@keyframes anim-2 {
		0%, 33.33% { left: -100%; opacity: 0; }
		41.63%, 58.29% { left: 25%; opacity: 1; }
		66.66%, 100% { left: 110%; opacity: 0; }
	}

	@keyframes anim-3 {
		0%, 66.66% { left: -100%; opacity: 0; }
		74.96%, 91.62% { left: 25%; opacity: 1; }
		100% { left: 110%; opacity: 0; }
	}