{% extends 'base.html' %}
{% load static %}

{% block title %}
Review Page
{% endblock %}

{% block content%}
<style>
    .rev-container{background-color :#60BBB6}
</style>

<div class= "rev-container" style="font-family: 'Varela Round', sans-serif; color: black;">
    <br><br><br>
    <div class="list-group" style="padding: 40px 100px 30px 100px">
        <p style="color: white; font-family:'Varela Round', sans-serif; font-size: 30px"><b>Available <span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)">Project</span></b></p>
        {% for db in data %}
            <div style="background-color: #ffafaf; padding: 30px; word-wrap: break-word;">
                    <h4 class="mb-1"><b>{{ db.name }}</b></h4>

                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ db.email }}</p>
                        <small class="text-muted" style="font-size: 1.2rem;">{{ db.date }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ db.wideScale }}</p>
			  		</div>
                    <p class="mb-1">{{ db.budget }}</p>
                    <p class="mb-1">{{ db.detail }}</p>
                    <div class="offset-10">
                        <a href="{% url 'steven:rq_delete' id=db.id %}" class="btn btn-primary"><button type="button" class="btn btn-primary"> Do_Project </button></a>
                    </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <hr style="border: 2px solid white; margin-right: 50px; margin-left: 50px">

    <div class="form-request">
        <div class="row">
            <div class = "col sm-2">
                <img src="{% static 'img/kiri.png' %}" style="max-width:100%; height: auto">
            </div>
            <div class="col-sm-8" style="padding: 20px 20px 20px 50px">
                <p style="text-align : center; font-size: 30px"><b>Please <span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)"> fill</span> the form to </b></p>
                <p style="text-align : center; font-size: 30px;)"><b>to take a <span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)">Project</span></b></p>
                <p style="text-align : center;">Hello Contractors!! You can check available project above and click "Do_Project" after that fill this form based on your project</p>
            </div>
            <div class = "col sm-2">
                <img src="{% static 'img/kanan.png' %}" style="max-width:80%; height: auto">
            </div>


            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6" style="padding: 20px 20px 20px 50px">
                        <form method="POST" action="{% url 'steven:save_project' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">{{ form.name.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ form.name }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.email.label_tag }}</label>
                                <div class="col-sm-10">
                                {{ form.email }}
                                </div>
                            </div>
                    </div>

                    <div class="col-sm-6" style="padding: 20px 20px 20px 50px">
                        <div class="form-group row">
                            <label for="wideScale" class="col-sm-2 col-form-label">{{ form.project.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ form.project }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="budget" class="col-sm-2 col-form-label">{{ form.link.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ form.link }}
                                <small>submit your project design and other file drive link</small>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="form-group" style="padding-left: 35px">
                            <label for="exampleFormControlTextarea1" >{{ form.detail.label_tag }}</label><br>
                            <small>Describe your work in project and tell what have you done</small>
                            {{ form.detail }}
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-6 offset-6 center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
</div>
{% endblock %}
