{% extends 'base.html' %}
{% load static %}

{% block title %}
Review Page
{% endblock %}



{% block content%}
<div class= "rev-container">
	<br><br><br>
	<div class="form-review">
		<div class="row">
		    <div class="col-sm-8" style="padding: 20px 20px 20px 50px">
		    	<p style="font-size: 25px"><b>Please help us to provide you a <span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)"> better service </span> </b></p>
		    	<form method="POST" action="{% url 'review:add_review' %}">
					{% csrf_token %}
				  <div class="form-group row">
				    <label for="name" class="col-sm-2 col-form-label">{{ form.name.label_tag }}</label>
				    <div class="col-sm-10">
				      {{ form.name }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.email.label_tag }}</label>
				    <div class="col-sm-10">
				      {{ form.email }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="rate" class="col-sm-2 col-form-label">{{ form.rate.label_tag }}</label>
				    <div class="col-sm-10">
				      {{ form.rate }}
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlTextarea1">{{ form.comment.label_tag }}</label>
				    {{ form.comment }}
				  </div>
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <button type="submit" class="btn btn-primary">Submit</button>
				    </div>
				  </div>
				</form>
		    </div>
		    <div class="col-sm-4">
		    <img src="{% static 'img/popup.png' %}" style="max-width:100%; height: auto">
			</div>
		</div>
		<hr style="border: 2px solid white; margin-right: 50px; margin-left: 50px">

		<div class="list-group" style="padding: 4% 10% 3% 10%">
        	 <p style="color: white; font-family:'Varela Round', sans-serif; font-size: 30px"><b><span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)">Thought</span> on Us</b></p>
        	{% for db in data %}
        		<div style="background-color: #ffafaf; padding: 30px">
			  		<h4 class="mb-1"><b>{{ db.name }}</b></h4>
			  		<div class="d-flex w-100 justify-content-between">
			  			<p class="mb-1">{{ db.rate }}/5</p>
			  			<small class="text-muted">{{ db.date }}</small>
			  		</div>
			  		<p class="mb-1">{{ db.comment }}</p>
		  		</div>
		  		<br>
		  	{% endfor %}
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock %}
